.footer {
    position: absolute;
    width: 100%;
    height: auto;

    background-color: var(--black-color);
    border-top: 3px solid var(--strong-red-color);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-block: 16px;
    padding-left: 12px;
    padding-right: 12px;

    .app {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 32px;

        font-family: var(--font-family);
        color: var(--white-color);
    }

    .name {
        font-size: 20px;
        font-weight: 900;
        align-self: center;
    }

    .info {
        font-size: 16px;
        font-weight: 500;
        align-self: center;
    }

}