.banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;

    padding-block: 1rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    min-height: 60vh;
    /* background-image: url(banner-image.png); */
    background-color: rgb(187, 187, 97);

}

.banner h1 {
    max-width: 50rem;
    padding-right: calc(100vw - 70rem);

    font-size: 4rem;
    font-weight: 600;
    line-height: 5rem;
    text-align: left;
    color: var(--white-color);
}

.banner p {
    max-width: 50rem;
    padding-right: calc(100vw - 70rem);

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    color: var(--white-color)

}

.banner button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    max-width: 15rem;
    height: 48px;

    cursor: pointer;

    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    background-color: var(--green-color);
    border: transparent;

    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
}

.banner button:hover {
    background-color: var(--hover-green-color);
}

.banner button:active {
    background-color: var(--active-green-color);
}