* {
  /* Background Colors */
  --white-color: #FFFFFF;
  --light-blue-color: #F1F8FF;
  --blue-color: #cbddf0;

  margin: 0px;
  padding: 0px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0px;
}