* {
  /* Background Colors */
  --white-color: #FFFFFF;
  --light-blue-color: #F1F8FF;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--black-color);
}

body::-webkit-scrollbar-track {
  background: var(--black-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--strong-red-color);
  border-radius: 20px;
  border: 3px solid var(--black-color);
} 